:host {
  font-weight: bold;
  white-space: nowrap;
  display: inline-block;
  position: relative;
}

.registered {
  cursor: help;
  text-decoration-line: underline;
  /deep/ .popover{
    top: 2rem;
    left: 0;
  }
}