:host

.collapsed {
  &.skill {
    font-size: 1.4rem;
    display: inline-block;
    font-weight: normal;
    padding: 5px 10px;
    margin-bottom: 5px;
    padding-right: 8px;
    cursor: help;
    position: relative;
  }
}
.expanded{
  padding-left: 30px;
  margin-bottom: 20px;
  .name{
    font-weight: normal;
    margin-bottom: 10px;
    font-size: 1.7rem;
    line-height: 1.7rem;
    .site{
      color: #e0e0e0;
      font-size: 0.8em;
      margin-left: 6px;
      &:hover{
        color: #3399f3;
      }
    }
    img{
      margin-right: 10px;
      margin-bottom: 3px;
      &.no-icon{
        //border: 1px solid #CCC;
        background: #CCC;
        border-radius: 2px;
      }
    }
  }
  blockquote{
    font-size: 1.3rem;
  }

}
