:host{
  code{
    white-space: nowrap;
  }
}

.collapsed {
  &.skill {
    font-size: 1.4rem;
    display: inline-block;
    font-weight: normal;
    padding: 5px 10px;
    margin-bottom: 5px;
    padding-right: 8px;
    cursor: help;
    position: relative;
    /deep/ .popover{
      top: 2.2rem;
      left: 0;
    }
  }
}
.expanded{
  padding-left: 30px;
  margin-bottom: 20px;
  .description{
    font-size: 1.4rem;
  }
  .description + .about{
    margin-top: 10px;
  }
  .about{
    .about-title{
      font-style: normal;
      color: forestgreen;
    }
    color: #7f7f7f;
    font-style: italic;
  }
  .name{
    font-weight: normal;
    margin-bottom: 10px;
    font-size: 1.7rem;
    line-height: 1.7rem;
    .site{
      color: #e0e0e0;
      font-size: 0.8em;
      margin-left: 6px;
      &:hover{
        color: #3399f3;
      }
    }
    img{
      margin-right: 10px;
      margin-bottom: 3px;
      &.no-icon{
        //border: 1px solid #CCC;
        background: #CCC;
        border-radius: 2px;
      }
    }
  }
  blockquote{
    font-size: 1.3rem;
  }

}
