:host

.collapsed {
  &.skill {
    font-size: 1.4rem;
    display: inline-block;
    font-weight: normal;
    padding: 5px 10px;
    margin-bottom: 5px;
    padding-right: 8px;
    cursor: help;
    position: relative;
  }
}
.expanded{
  padding-left: 30px;
  margin-bottom: 20px;
  .name{
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 1.7rem;
    line-height: 1.7rem;
    img{
      margin-right: 10px;
      margin-bottom: 3px;
    }
  }
  blockquote{
    font-size: 1.3rem;
  }

}

.skill-description-tooltip{
  position: absolute;
  //right: 0;
  top:1.6em;
  width: 300px;
  background: #fff;
  color: #555;
  z-index: 100;

  //padding: 20px;
  //border: 1px solid red;
  //white-space: normal;
  //text-align: start;
  //font-family: monospace;
}