<div *ngIf="isExpanded" class="expanded skill">
    <div class="name">
        <img src="{{icon?icon:'assets/img/0.gif'}}" width="16" height="16" class="skill-icon" [class.no-icon]="!icon"/>
        {{name}}
        <a href="{{site}}" *ngIf="site" class="site" target="_blank"><i class="fa fa-external-link-square"></i></a>
    </div>
    <blockquote >
        <ng-content  select="description"></ng-content>
    </blockquote>
</div>
<div class="collapsed skill label label-info" *ngIf="!isExpanded">
    {{name}}
</div>