.app {
  //position: relative;
  lang-switcher {
    display: block;
    text-align: center;
    margin-top: -30px;
    margin-bottom: 30px;

  }
}

h1 {
  //margin-top: 0;
}

.job-position {
  color: forestgreen;
  font-size: 2rem;
}

.contacts {
  .fa {
    font-size: 2rem;
    margin-right: 5px;
    color: #777;
    width: 2rem;
  }
}

.links {

  ul, li {
    padding: 0;
    margin: 0;
    list-style: none;

  }
  ul {
    padding-left: 30px;
    .fa {
      margin-left: -30px;
    }
    a {
      word-break: break-all;
      //word-wrap: break-word;
    }
  }
}


