<div class="working-period">
    <h3>
        <span class="dates" *ngIf="dates">{{dates}}</span>
        @ <span class="company" *ngIf="company">{{company}}</span>
    </h3>
    <div class="position" *ngIf="position">
        <span class="val">{{position}}</span>
    </div>
    <div class="main-technologies" *ngIf="mainTechnologiesList && mainTechnologiesList.length>0">
        <trans lang="en">Main tools:</trans>
        <trans lang="ru">Основные технологии:</trans>
        <skill-ref *ngFor="let skillName of mainTechnologiesList" [name]="skillName"></skill-ref>
    </div>
    <blockquote>
        <ng-content></ng-content>
    </blockquote>


</div>