body {
  //background: #eee;
  padding: 40px 0;
  //
  > .container {
  //  background: #fff none repeat scroll 0 0;
  //  box-shadow: 0 0 20px #ddd;
    padding-bottom: 60px;
    padding-top: 60px;
  }
}


h2,h4{
  color: orangered;
}


.mycv-ng-link{
  text-align: center;
  margin: 20px 0 80px;
  font-size: 1.2rem;
  &,a{
    color: #777;
  }
}