.popover{
  width: 300px;
  background: #fff;
  color: #555;
  z-index: 100;
  position: absolute;
}

.description ~ .about{
  margin-top: 10px;
}

.about-title{
  //font-size: 0.8rem;
  //color: #001;
  font-style: normal;
  color: orangered;
}
.about{
  font-size: 1rem;
  color: #7f7f7f;
  //color: forestgreen;
  font-style: italic;
}