<div class="popover" *ngIf="skillData" style="display: block;">
    <div class="popover-content" id="content" #content >
        <div class="description" [innerHTML]="html" *ngIf="html"></div>
        <!--<div class="description" [innerHTML]="description()" *ngIf="description()!=''">-->
        <!--</div>-->
        <div *ngIf="skillData.about" class="about">
            <div class="about-title">
                <trans lang="en">About:</trans>
                <trans lang="ru">Информация:</trans>
            </div>
            <div class="about-content">
            {{skillData.about}}
            </div>
        </div>
    </div>
    <div class="popover-title">
        <img src="{{skillData.icon?skillData.icon:'assets/img/0.gif'}}" width="16" height="16" [class.no-icon]="!skillData.icon"/>

        {{skillData.skillName}}

        <a href="{{skillData.site}}" target="_blank" class="pull-right">
            <i class="fa fa-external-link-square"></i>
        </a>
    </div>
</div>
